.thank
  max-width 600px
  background: #ffffff
  margin: 0 auto
  position: relative
  display: flex
  align-items center
  justify-content center
  text-align: center
  flex-direction column
  border-radius: 5px
  padding: 115px 0 55px

  .popup__close
    margin-bottom: (23 + 20) px
    margin-right: -20px

  &__title
    font-size: 30px

  &__text
    font-size: 24px
    line-height: 36px
    font-weight: 500

  &__icon
    position: absolute;
    width: 128px
    height: 128px
    background: #e43641
    left: 50%
    margin-left: -(128 / 2) px
    border-radius: 50%
    display: flex;
    align-items center
    justify-content center
    bottom: 100%
    margin-bottom: -70px

    svg
      width: 44px
      height: 44px
