.aboutWelcome
  height: 480px
  background: url(img/aboutWelcome-bg.jpg) 50% 50% repeat-x;
  display: flex;
  align-items center
  justify-content center
  @media media-lg
    height: 202px
    background-size: auto 202px;
  @media media-md
    background-image: url(img/aboutWelcome-bg-sm.jpg);

  h1
    font-size: 30px
    max-width 880px
    text-align: center;
    @media media-lg
      max-width: 570px
    @media media-md
      font-size: 18px
      max-width: 280px
