.materials
  .c
    h2 МАТРИАЛЫ, ИСПОЛЬЗУЕМЫЕ КОМПАНЕЙ "НЕВСКИЙ ШТУКАТУР"

    .materials__slider
      .materials__items.title
        .materials__item
          img.materials__img.lazy(data-src='modules/materials/img/materials-01.png')
          .materials__text
            | ШТУКАТУРКА ГИПСОВАЯ#[br]
            | KNAUF МП-75 МАШИННАЯ 30 КГ#[br]
            | 400 РУБЛЕЙ/МЕШОК
        .materials__item
          img.materials__img.lazy(data-src='modules/materials/img/materials-02.png')
          .materials__text
            | ШТУКАТУРКА ГИПСОВАЯ#[br]
            | ВОЛНА ГИПС АКТИВ 30 КГ#[br]
            | 400 РУБЛЕЙ/МЕШОК
        .materials__item
          img.materials__img.lazy(data-src='modules/materials/img/materials-03.png')
          .materials__text
            | ШТУКАТУРКА ГИПСОВАЯ#[br]
            | ФОРМАН 12 30 КГ#[br]
            | 400 РУБЛЕЙ/МЕШОК
        .materials__item
          img.materials__img.lazy(data-src='modules/materials/img/materials-04.png')
          .materials__text
            | ЦЕМЕНТНАЯ ШТУКАТУРКА#[br]
            | УНТЕРПУЦ 30 КГ#[br]
            | 400 РУБЛЕЙ/МЕШОК
        .materials__item
          img.materials__img.lazy(data-src='modules/materials/img/materials-05.png')
          .materials__text
            | ШТУКАТУРКА ГИПСОВАЯ#[br]
            | ВОЛНА ГИПС АКТИВ 30 КГ#[br]
            | 400 РУБЛЕЙ/МЕШОК
        .materials__item
          img.materials__img.lazy(data-src='modules/materials/img/materials-06.png')
          .materials__text
            | ШТУКАТУРКА ГИПСОВАЯ#[br]
            | ФОРМАН 12 30 КГ#[br]
            | 400 РУБЛЕЙ/МЕШОК
      .materials__nav
        button.navBtn.navBtn--prev: +svg('icon-arrow')
        button.navBtn.navBtn--next: +svg('icon-arrow')

  img.materials__decor1.lazy(data-src='images/shpatel-04.png')
  img.materials__decor2.lazy(data-src='images/shpatel-05.png')
  img.materials__decor3.lazy(data-src='images/shpatel-02.png')
