.partners
  .c
    h2 ПАРТНЕРЫ КОМПАНИИ "НЕВСКИЙ ШТУКАТУР"
    h3 БОЛЕЕ ЧЕМ ЗА 10 ЛЕТ УСПЕШНОЙ РАБОТЫ
    .partners__slider
      .partners__items
        each i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]
          .partners__item
            .partners__card
              img.lazy(data-src='modules/partners/img/partners-logo.png')
      .partners__nav
        button.navBtn.navBtn--prev: +svg('icon-arrow')
        button.navBtn.navBtn--next: +svg('icon-arrow')


