.workSteps(class=WORK_STEPS_NOISE && 'workSteps--noise')
  img.workSteps__decor.lazy(data-src='images/shpatel-12.png')
  .c
    h2 ЭТАПЫ РАБОТ
    .workSteps__steps
      .workSteps__step
        .workSteps__header 1 ЭТАП
        .workSteps__text Подготовительные работы (укрывание окон,дверей,стояков)
      .workSteps__step
        .workSteps__header 2 ЭТАП
        .workSteps__text Грунтование поверхностей Knauf Mittel Grunt
      .workSteps__step
        .workSteps__header 3 ЭТАП
        .workSteps__text Обработка бетонных поверхностей Knauf Betokontakt
      .workSteps__step
        .workSteps__header 4 ЭТАП
        .workSteps__text Монтаж армирующей сетки в местах разнородных материалов,а также в местах сопряжения
      .workSteps__step
        .workSteps__header 5 ЭТАП
        .workSteps__text Установка маяков и углозащитных профилей
      .workSteps__step
        .workSteps__header 6 ЭТАП
        .workSteps__text Нанесение высококачественной штуктурной смеси машинным способом
      .workSteps__step
        .workSteps__header 7 ЭТАП
        .workSteps__text Выравнивани поверхности по маякам
      .workSteps__step
        .workSteps__header 8 ЭТАП
        .workSteps__text После оштукатуривания всей стены и предварительного схватывания покрытия, маяки демонтируются
      .workSteps__step
        .workSteps__header 9 ЭТАП
        .workSteps__text Оставшиеся после профилей штробы заполняются аналогичной по составу, но более густой консистенции, штукатурной смесью
      .workSteps__step
        .workSteps__header 10 ЭТАП
        .workSteps__text Производится подрезка раствора во всех плоскостях для получения идеальной поверхности
      .workSteps__step
        .workSteps__header 11 ЭТАП
        .workSteps__text Затирание поверхности губчатой терки
      .workSteps__step
        .workSteps__header 12 ЭТАП
        .workSteps__text Глянцевание поверхности шпателем для получения идеальной поверхности
      .workSteps__step
        .workSteps__header 13 ЭТАП
        .workSteps__text Уборка помещения
