.zamer(class=ZAMER_WHITE && 'zamer--white')
  .c
    h2 ЗАКАЖИТЕ БЕСПЛТАНЫЙ ВЫЕЗД ЗАМЕРЩИКА ПРЯМО СЕЙЧАС
    .zamer__content
      .zamer__slider
        .zamer__items
          .zamer__item: .zamer__card
            | Подберем#[br]
            | материалы
          .zamer__item: .zamer__card
            | Померяем точную#[br]
            | площадь
          .zamer__item: .zamer__card
            | согласуем удобнвый даты#[br]
            | начала работ
          .zamer__item: .zamer__card
            | Сделаем план вашего#[br]
            | помещения
          .zamer__item: .zamer__card
            | определимся с вариантом#[br]
            | машинной штукатурки
          .zamer__item: .zamer__card
            | Посчитаем и зафиксируем#[br]
            | смету на ваш объек
        .zamer__nav
          button.navBtn.navBtn--prev: +svg('icon-arrow')
          button.navBtn.navBtn--next: +svg('icon-arrow')

      .zamer__form: .card: .card__content
        input.input(placeholder='Ваш номер телефона:')
        .datepicker: input.input(placeholder='Удобная дата замера:')

        button.btnArrow
          span ВЫЗВАТЬ ЗАМЕРЩИКА
          +svg('icon-doubleArrow')

  img.zamer__stroitel.lazy(data-src='modules/zamer/img/stroitel.png' width=908 height=1002)
  img.zamer__phone.lazy(data-src='images/phone.png' width=706 height=491)
  img.zamer__decor.lazy(data-src='images/shpatel-08.png')

