.calc
  padding: 74px 0 40px
  background: #f9f9f9
  @media media-lg
    padding: 49px 0 30px
  @media media-md
    padding: 33px 0 19px

  &__title
    text-align: center;
    margin-bottom: 10px
    @media media-md
      font-size: 18px
      line-height: 1.35
      padding: 0 20px
      margin-bottom: 11px

    &:after
      content ''
      display: block;
      background: url(../../images/sprite-calc-decor-01.png)
      margin: 8px auto 0
      @media media-md
        margin-top: 13px
        left: 50%;
        position: relative;
        transform: translateX(-50%);

  &__subtitle
    text-align: center;
    max-width 800px
    margin: 0 auto 34px
    font-size: 24px
    @media media-lg
      margin-bottom: 55px
      padding: 0 20px
    @media media-md
      font-size: 18px
      line-height: 1.35
      margin-bottom: 43px

  &__form
    position: relative;
    z-index: 1
    @media media-lg
      width: 720px
      margin: 0 auto
    @media media-md
      width: 100%

    .card__content
      display: flex;
      position: relative;
      padding: 27px 32px
      z-index: 1
      @media media-lg
        padding: 43px 30px 36px 43px
      @media media-md
        padding: 27px 0 83px 0
        flex-direction column

    &:before
      content: ''
      position: absolute;
      background: url(../../images/sprite-calc-decor-02.png)
      left: 30px;
      top: 87px;
      z-index: 2
      @media media-lg
        left: 41px;
        top: 103px;
        width: 640px;
      @media media-md
        display: none;

  &__left
    width: 250px
    margin-right: 25px
    flex-shrink 0
    @media media-md
      width: 100%

  &__right
    width: 429px
    flex-shrink 0
    @media media-lg
      width: auto;
      flex: 1
    @media media-md
      width: 100%

  &__header
    font-size: 24px
    margin-bottom: 20px
    @media media-md
      text-align: center;
      font-size: 18px
      margin-bottom: 40px
      color: #ffffff
      position: relative;

      &:before
        content: ''
        position: absolute;
        z-index: -1
        left: 50%
        top: -9px
        transform translateX(-50%)

      &--1:before
        background: url(../../images/sprite-calc-bg-01.png)

      &--2:before
        background: url(../../images/sprite-calc-bg-02.png)

      &--3:before
        background: url(../../images/sprite-calc-bg-03.png)

    &:first-child
      margin-bottom: 63px
      @media media-md
        margin-bottom: 40px

  &__block
    margin-bottom: 21px
    @media media-md
      max-width: 260px
      margin: 0 auto 24px

  .wpcf7-checkbox
    .wpcf7-list-item
      display: block;
      margin-bottom: 15px
      @media media-md
        text-align: right;

  .wpcf7-radio
    .wpcf7-list-item
      display: block;
      margin-bottom: 18px
      @media media-md
        text-align: right;

  &__footer
    position: absolute;
    left: 765px
    bottom: 80px
    z-index: 2
    @media media-lg
      position: static;
      margin-top: 22px
      .btnArrow
        margin-left: auto;
    @media media-md
      padding: 0 20px
      margin-top: 67px
      .btnArrow
        margin: 0 auto

  &__decor
    position: absolute;
    left: 822px;
    top: 88px;
    z-index: 2
    @media media-lg
      display: none;

  &__label
    position: absolute;
    background: url(../../images/sprite-calc-label.png)
    left: 763px;
    top: 119px;
    z-index: 2
    transform rotate(-21deg)
    @media media-lg
      left: 26px;
      top: auto;
      bottom: -8px;
    @media media-md
      left: 50%
      bottom: 86px;
      margin-left: -100px;

    span
      font-family: 'DIN Pro Cond', sans-serif;
      line-height: 1.35
      font-weight: bold
      color: #ffffff
      font-size: 24px
      width: 166px;
      height: 68px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-left: 8px;

