// ====================================
// colors
// ====================================

// ====================================
// grid settings
// ====================================
$gutter = 15px
$gutter-half = ($gutter / 2)

//$breakpoint-sm = 468px
$breakpoint-md = 768px
$breakpoint-lg = 1300px

//$container-sm = 468px
$container-md = 768px
$container-lg = 1280px

media-lg = 'screen and (max-width: $breakpoint-lg - 1)'
media-md = 'screen and (max-width: $breakpoint-md - 1)'
//media-sm = 'screen and (max-width: $breakpoint-sm - 1)'
