.prices
  .c
    .card: .card__content
      .prices__head.title НЕВСКИЙ ШТУКАТУР
      table
        thead.title
          tr
            th НАИМЕНОВАНИЕ
            th ЦЕНА ОТ
        tbody
          tr
            td
              .prices__info
                .title ОШТУКАТУРИВАНИЕ СТЕН
                p (грунтование  поверхности,монтаж армир.сетки,установка маяков,оштукатуривание , демонтаж маяков, глянцевание поверхности)
            td.title 210.00 руб
          tr
            td
              .prices__info
                .title ОШТУКАТУРИВАНИЕ ДВЕРНЫХ И ОКОННЫХ ПРОЕМОВ
                p (установка оконного примыкания,углозащитных профилей)
            td.title 280.00 руб
          tr
            td
              .prices__info
                .title ОШТУКАТУРИВАНИЕ ПОТОЛКА
                p (грунтование поверхности,монтаж армир.сетки,установка маяков,углозащитных профилей,оштукатуривание ,демонтаж маяков,глянцевание поверхности)
            td.title 350.00 руб
          tr
            td
              .prices__info
                .title МОНТАЖ АРМИРУЮЩЕЙ СЕТКИ
            td.title 50.00 руб
          tr
            td
              .prices__info
                .title ФАСАДНАЯ ШТУКАТУРКА
                p (утепление,армирующий слой с сеткой,нанесение декоративной штукатурки)
            td.title 600.00 руб
          tr
            td
              .prices__info
                .title СТЯЖКА ПОЛА
            td.title 500.00 руб
