.faq
  .c
    h2 ВОПРОС - ОТВЕТ ОТ КОМПАНИИ НЕВСКИЙ ШТУКАТУР

    .faq__cols
      .faq__col
        .faq__item
          .faq__question ПЕРАТУРНЫЙ РЕЖИМ
          .faq__answer: .faq__inner
            p На объекте требуется наличие канализации (установлен унитаз)
            p На объекте требуется наличие канализации (установлен унитаз)
            p На объекте требуется наличие канализации (установлен унитаз)
        .faq__item
          .faq__question ВОДА
          .faq__answer: .faq__inner
            p На объекте требуется наличие канализации (установлен унитаз)
            p На объекте требуется наличие канализации (установлен унитаз)
            p На объекте требуется наличие канализации (установлен унитаз)
        .faq__item
          .faq__question БАТАРЕИ - ДОЛОЙ!
          .faq__answer: .faq__inner
            p На объекте требуется наличие канализации (установлен унитаз)
            p На объекте требуется наличие канализации (установлен унитаз)
            p На объекте требуется наличие канализации (установлен унитаз)
      .faq__col
        .faq__item
          .faq__question ПЕРАТУРНЫЙ РЕЖИМ
          .faq__answer: .faq__inner
            p На объекте требуется наличие канализации (установлен унитаз)
            p На объекте требуется наличие канализации (установлен унитаз)
            p На объекте требуется наличие канализации (установлен унитаз)
        .faq__item
          .faq__question ВОДА
          .faq__answer: .faq__inner
            p На объекте требуется наличие канализации (установлен унитаз)
            p На объекте требуется наличие канализации (установлен унитаз)
            p На объекте требуется наличие канализации (установлен унитаз)
        .faq__item
          .faq__question БАТАРЕИ - ДОЛОЙ!
          .faq__answer: .faq__inner
            p На объекте требуется наличие канализации (установлен унитаз)
            p На объекте требуется наличие канализации (установлен унитаз)
            p На объекте требуется наличие канализации (установлен унитаз)

  img.faq__decor1.lazy(data-src='images/shpatel-04.png')
  img.faq__decor2.lazy(data-src='images/shpatel-05.png')
