h1, h2, h3, h4, h5, h6, .title
  font-family: 'DIN Pro Cond', sans-serif;
  line-height: 1.35
  font-weight: bold
  color: #380800

h1
  font-size: 30px
  line-height: 1.6
  margin-top: 46px
  margin-bottom: 5px
  @media media-lg
    padding: 0 20px
    text-align: center;
    margin-top: 30px
    margin-bottom: -13px
  @media media-md
    margin-top: 36px
    font-size: 24px
    line-height: 1.25
    margin-bottom: -5px

h2
  font-size: 36px
  @media media-md
    font-size: 24px
    line-height: 1.25

h3
  font-size: 30px
  @media media-md
    font-size: 24px
    line-height: 1.25

b, strong
  font-weight: bold

p
  margin-bottom: 1.5rem

a
  //color: $black
  color: inherit
  //border-bottom: 1px solid #42bde4
  //padding-bottom: 2px
  anim()

//&:hover
//  border-color: #e7533b

ul, ol
  margin-bottom: 1.55em

  li
    margin-bottom: 1em
    position relative

ul
  li
    padding-left: 0

    &:before
      content: ''
      width: 6px
      height: 6px
      background: #e87622
      border-radius: 50%
      position absolute
      top: 8px;
      left: -11px;

ol
  counter-reset: list;

  li
    padding-left: 24px

    &:before
      counter-increment: list;
      content: counter(list) "."
      position absolute
      top: 0;
      left: 2px;
      color: $blue
      font-weight: bold;

del, s
  text-decoration: line-through

blockquote
  background: #f5fcfe
  border-radius: 7px
  font-style italic
  font-weight: 300
  padding: 40px 50px
  position: relative;
  margin-bottom: 3rem
  @media screen and (max-width: $breakpoint-lg - 1)
    border-radius: 5px
    padding: 24px 30px
    margin-bottom: 3.5rem
    padding-bottom: 8px

  cite
    position: absolute;
    font-size: 1rem
    color: #42bde4
    text-align: right;
    right: 52px
    bottom: 44px
    @media screen and (max-width: $breakpoint-lg - 1)
      right: auto;
      left: 30px
      bottom: 18px

//position: static;

.wp-block-image
  margin-bottom: 3rem
  @media screen and (max-width: $breakpoint-lg - 1)
    margin-bottom: 3.5rem

  img
    border-radius: 7px
    max-width 100%
    height: auto;
    display: block;
    @media screen and (max-width: $breakpoint-lg - 1)
      border-radius: 5px

  figcaption
    margin: 10px 0 0
    font-size: .85rem

.content
  font-size: 1.25rem
  @media screen and (max-width: $breakpoint-lg - 1)
    font-size: 1.2rem

.has-small-font-size
  font-size: 1rem

table
  width: 100%
  border-collapse collapse
