extends ../blogContainer/blogContainer

block body
  .blog
    .blog__head
      .blog__image(style='background-image: url(modules/blog/img/blog-img.jpg)')
      .blog__date.title 2.12.2019
      h1 ПО СВОЕЙ СУТИ РЫБАТЕКСТ ЯВЛЯЕТСЯ АЛЬТЕРНАТИВОЙ ТРАДИЦИОННОМУ LOREM IPSUM
    .blog__content
      p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
      p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
    .blog__tags
      b Теги:
      a(href='#') штукатур,
      a(href='#') облицовка,
      a(href='#') штукатур,
      a(href='#') облицовка,
      a(href='#') штукатур,
      a(href='#') облицовка
    .blog__share
      span Поделится:
      .
        <script src="https://yastatic.net/share2/share.js"></script>
        <div class="ya-share2" data-services="collections,vkontakte,facebook,odnoklassniki,moimir"></div>

block sidebar
  include ../related/related
