.advantages
  .c
    h2 ПРЕИМУЩЕСТВА МАШИННОЙ ШТУКАТУРКИ ПЕРЕД РУЧНОЙ
    .card: .card__content
      table.title
        tbody
          tr
            td СКОРОСТЬ
            td РУЧНАЯ ШТУКАТУРКА
            td МАШИННАЯ ШТУКАТУРКА
          tr
            td МАТРИАЛЫ
            td GRACE HOPPER
            td GRACE HOPPER
          tr
            td ДОП ОБРАБОТКА
            td GRACE HOPPER
            td GRACE HOPPER
          tr
            td КАЧЕСТВО
            td GRACE HOPPER
            td GRACE HOPPER
          tr
            td СТОИМОСТЬ
            td GRACE HOPPER
            td GRACE HOPPER

    h3 КАК ИТОГ:
    p.advantages__sub.title МАШИННАЯ ШТУКАТУРКА ПО ВСЕМ ПАРАМЕТРАМ ВЫИГРЫВАЮТ РУЧНУЮ
