.rating
  .c
    h2 ВХОДЯТ В #[span ТОП-5 РЕЙТИНГА] РЕМОНТНЫХ СЕРВИСОВ
    img.lazy.rating__sites(data-src='modules/rating/img/rating-sites.png')
    img.lazy.rating__decor(data-src='images/shpatel-12.png')
    .rating__items
      .rating__items
        .rating__item: img.lazy(data-src='modules/rating/img/rating-01.jpg')
        .rating__item: img.lazy(data-src='modules/rating/img/rating-02.jpg')
        .rating__item: img.lazy(data-src='modules/rating/img/rating-03.jpg')


