.notFound
  h1
    |OOPS!#[br]
    |К СОЖАЛЕНИЮ ЭТОЙ СТРАНИЦЫ НЕ СУЩЕСТВУЕТ, НО ВЫ МОЖЕТЕ
    |ВЕРНУТЬСЯ ОБРАТНО НА #[a(href='/') ГЛАВНУЮ]
  img.notFound__img.lazy(data-src='modules/notFound/img/notFound-img.png')
