.pricesInfo

  img.pricesInfo__img.pricesInfo__img--1.lazy(data-src='modules/pricesInfo/img/pricesInfo-img.png')
  img.pricesInfo__img.pricesInfo__img--2.lazy(data-src='modules/pricesInfo/img/pricesInfo-img2.png')
  img.pricesInfo__img.pricesInfo__img--3.lazy(data-src='modules/pricesInfo/img/pricesInfo-img3.png')

  .c
    .pricesInfo__content
      p
        |Мы знаем, что вы точно зашли на эту страницу.#[br]
        |Людям всегда важны цены, но мы настоятельно рекомендуем выбирать компанию не только по ценам.
      p: b Помните всегда о золотом правиле
      hr
      p: b Не выбавет всего и сразу.

      p
        |Цены мы вам все таки покажем, вы ведь их хотели, НО#[br]
        |Все цены носят ознакомительный характер. Только индивидуальный расчет поможет Вам точно рассчитать стоимость Ваших работ.#[br]
        |Пролистайте цены быстро, а потом заполните форму индивидуального расчета.
