footer.footer
  .footer__top
    .c
      .footer__col
        h6.footer__header Услуги
        .footer__menu: ul
          li: a(href='#') Ручная штукатурка
          li: a(href='#') Механизированная штукатурка стен
          li: a(href='#') Механизированная штукатурка откосов
          li: a(href='#') Механизированная штукатурка фасадов
          li: a(href='#') Механизированная штукатурка потолков
          li: a(href='#') Полусухая стяжка пола
      .footer__col
        h6.footer__header Компания
        .footer__menu: ul
          li: a(href='#') Наша команда
          li: a(href='#') Цены
          li: a(href='#') Материалы и оборудование
          li: a(href='#') Строительным компаниям
          li: a(href='#') О компании
          li: a(href='#') Контакты
      .footer__col
        h6.footer__header Информация
        .footer__menu: ul
          li: a(href='#') Статьи
          li: a(href='#') Галерея работ
          li: a(href='#') Видеоотзывы клиентов
      .footer__info
        .footer__infoItem
          h6 Для консультации звоните:
          | Москва +7 (999) 999-99-99#[br]
          | Санкт-Птеребург +7 (999) 99-99-99
        .footer__infoItem
          h6 Пишите:
          | Москва mail@mail.ru#[br]
          | Санкт-Птеребург mail@mail.ru
      a.footer__created(href='#' target="_blank") Создание сайта
  .footer__bottom
    .c
      img.footer__logo(src='modules/footer/img/logo.png' srcset='modules/footer/img/logo@2x.png 2x, modules/footer/img/logo@3x.png 3x')
      .footer__copyrights
        .footer__copyright
          | © 2017-2019 Невский штукатур#[br]
          | Все права защищены.
        .footer__copyright
          | © 2017-2019 Столичный штукатур#[br]
          | Все права защищены.
      .footer__rights Вся предоставленная на сайте информация ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса Р
