.related
  h3 Следующая новость
  .related__slider
    .related__items
      .related__item
        a.related__card(href='#' style='background-image: url(modules/related/img/related-img.jpg)')
          .title.related__title Сайт рыбатекст поможет дизайнеру
          .related__content
            p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей .
      .related__item
        a.related__card(href='#' style='background-image: url(modules/related/img/related-img.jpg)')
          .related__title.title Сайт рыбатекст поможет дизайнеру
          .related__content
            p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей .
    .related__nav
      button.navBtn.navBtn--prev: +svg('icon-arrow')
      button.navBtn.navBtn--next: +svg('icon-arrow')
