extends pug/_layout

block body
  +header()
  include modules/aboutWelcome/aboutWelcome
  include modules/order/order
  include modules/best/best
  include modules/zamer/zamer
  include modules/partners/partners
  include modules/certificates/certificates
  include modules/about/about
  include modules/question/question
