extends pug/_layout

block body
  +header()
    .c: h1 СТРОИТЕЛЬНЫМ КОМПАНИЯМ О СОТРУДНИЧЕСТВЕ
  include modules/partnersAbout/partnersAbout
  include modules/partnersForm/partnersForm
  include modules/partners/partners
  include modules/certificates/certificates
  include modules/question/question
