/*!!
 * Theme Name: shtukatur
 */

@import "destyle.css/destyle.css"
@import "nouislider/distribute/nouislider.css"
@import "@chenfengyuan/datepicker/dist/datepicker.css"

@import "stylus/_fonts.styl";
@import "stylus/_vars.styl";
@import "stylus/_mixins.styl";

@import "stylus/blocks/btn.styl";
@import "stylus/blocks/btnArrow.styl";
@import "stylus/blocks/card.styl";
@import "stylus/blocks/checkbox.styl";
@import "stylus/blocks/common.styl";
@import "stylus/blocks/input.styl";
@import "stylus/blocks/navBtn.styl";
@import "stylus/blocks/radio.styl";
@import "stylus/blocks/select.styl";
@import "stylus/blocks/slider.styl";
@import "stylus/blocks/toggle.styl";
@import "stylus/blocks/typography.styl";
@import "stylus/blocks/wpcf7.styl";

@import "modules/photoswipe/photoswipe.styl"
@import "modules/popup/mfp.styl"
@import "modules/popup/thank.styl"
@import "modules/popup/popup.styl"
@import "modules/header/header.styl"
@import "modules/aboutWelcome/aboutWelcome.styl"
@import "modules/order/order.styl"
@import "modules/best/best.styl"
@import "modules/zamer/zamer.styl"
@import "modules/partners/partners.styl"
@import "modules/certificates/certificates.styl"
@import "modules/about/about.styl"
@import "modules/question/question.styl"
@import "modules/footer/footer.styl"
@import "modules/contacts/contacts.styl"
@import "modules/team/team.styl"
@import "modules/rating/rating.styl"
@import "modules/examples/examples.styl"
@import "modules/faq/faq.styl"
@import "modules/videos/videos.styl"
@import "modules/equipment/equipment.styl"
@import "modules/materials/materials.styl"
@import "modules/calc/calc.styl"
@import "modules/partnersAbout/partnersAbout.styl"
@import "modules/partnersForm/partnersForm.styl"
@import "modules/workInfo/workInfo.styl"
@import "modules/workSteps/workSteps.styl"
@import "modules/services/services.styl"
@import "modules/works/works.styl"
@import "modules/blogContainer/blogContainer.styl"
@import "modules/blogs/blogs.styl"
@import "modules/blog/blog.styl"
@import "modules/service/service.styl"
@import "modules/stock/stock.styl"
@import "modules/targets/targets.styl"
@import "modules/included/included.styl"
@import "modules/advantages/advantages.styl"
@import "modules/related/related.styl"
@import "modules/pricesInfo/pricesInfo.styl"
@import "modules/prices/prices.styl"
@import "modules/notFound/notFound.styl"

