extends pug/_layout

block body
  +header()
    .c: h1 РАБОТЫ КОМПАНИЙ "НЕВСКИЙ ШТУКАТУР"
  include modules/works/works
  include modules/videos/videos2
  include modules/zamer/zamer
  include modules/faq/faq
  include modules/about/about
  include modules/question/question
