.blogContainer
  .c
    .blogContainer__container
      .blogContainer__content
        block body
      .blogContainer__sidebar
        .blogContainer__tags.card: .card__content
          +svg('icon-arrow')
          .blogContainer__tag.blogContainer__tag--header.title ПОПУЛЯРНЫЕ ТЕГИ
          a.blogContainer__tag(href='#') МАШИННАЯ ШТУКАТУРКА
          a.blogContainer__tag(href='#') МАШИННАЯ ШТУКАТУРКА СТЕН
          a.blogContainer__tag.blogContainer__tag--active(href='#') МАШИННАЯ ШТУКАТУРКА ПОТОЛКА
          a.blogContainer__tag(href='#') ПОЛУСУХАЯ СТЯЖКА ПОЛА
          a.blogContainer__tag(href='#') ШТУКАТУРКА ДОМА
          a.blogContainer__tag(href='#') ШТУКАТУРКА КВАРТИРЫ
        block sidebar

