.video
  .h2 Как происходит процесс оштукатуривания машинным способом
  .h3 Весь процесс механизированной штукатурки за 7 минут
  .video__video
    iframe(src="https://www.youtube.com/embed/oT_t3F1KzdQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
