.included
  .c
    h2 ЧТО ВХОДИТ В СТОИМОСТЬ РАБОТ
    .included__slider
      .included__items
        each text, i in ['ДОСТАВКА И ПОДЪЕМ<br/>ОБОРУДОВАНИЯ','ОКЛЕЙКА ПЛЕНКОЙ ОКОН,<br/>РАДИАТОРОВ, ЭЛЕКТРОЩИТА<br/>И СТОЯКОВ ОТОПЛЕНИЯ','ОЧИСТКА ПОВЕРХНОСТИ<br/>ОТ ПЫЛИ','ГРУНТОВКА<br/>ПОВЕРХНОСТИ','МОНТАЖ СТЕКЛОТКАНЕВОЙ СЕТКИ<br/>НА СТЫКАХ РАЗНОРОДНЫХ<br/>МАТЕРИАЛОВ','УСТАНОВКА, А ТАКЖЕ<br/>ПОСЛЕДУЮЩЕЕ УДАЛЕНИЕ МАЯКОВ<br/>ПОСЛЕ ОШТУКАТУРИВАНИЯ','МОНТАЖ СЕТЧАТЫХ УГЛОЗАЩИТНЫХ<br/>ПРОФИЛЕЙ НА ВНЕШНИХ УГЛАХ И<br/>ОТКОСАХ','ЗАГЛАЖИВАНИЕ ПОВЕРХНОСТИ<br/>ПОД ОБОИ И УБОРКА МУСОРА']
          .included__item.title
            .included__number= i+1
            .included__text !{text}

      .included__nav
        button.navBtn.navBtn--prev: +svg('icon-arrow')
        button.navBtn.navBtn--next: +svg('icon-arrow')


